<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/gallery.css">
    <title>Document</title>
</head>
<body>
    {% extends 'barra.html' %}
{% block component %}
<div class="container-header-galeria d-flex flex-row align-items-center">
    <h1 class="titulo-segundario text-light mx-auto animate__animated animate__backInLeft">Galeria</h1>
</div>
{% endblock %}
    
</body>
</html>

