/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
/* Estilos */
@import url(../css/menu.css);
@import url(../css/gallery.css);
@import url(../css/blog.css);
@import url(../css/contato.css);
@import url(../css/home.css);
@import url(../css/reservas.css);
@import url(../css/sobre.css);

:root {
    --font-titulo:  "Courgette", cursive;
    --font-principal: 'Assistant', sans-serif;
    --font-segundaria: 'Merriweather', sans-serif;
}

#container-header {
    background-color: #000000c8;
}

.titulo-segundario {
    font-family: var(--font-principal);
    font-size: 3rem;
    font-weight: normal;
}

.titulo-terciario {
 font-family: var(--font-segundaria);
 font-size: 2rem;
 font-weight: 200;
}

#btn-menu {
    border: 1px solid #fff;
}

#img-galeria {
    background-color: #1a1a1a00;
    border: 1px solid #19191900;
}

#newsletter {
    background-color: #dfdfdf;
}

input {
    border-left: none;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px;
}

#footer-copy {
    background-color: #ffffff;
}